
<form action="/disks/@Model.Id/songs" method="post">
  <input id="diskId" name="diskId" type="hidden" value="@Model.Id">
  <label for="songDescription">Add a new song</label>
  <input id="songDescription" name="songDescription" type="text">
  <button type="submit">Submit</button>
</form>

<p><a href="/">Back home</a></p>