<h1>Add a disk</h1>
<p>Add a disk here:</p>

<form action="/disk" method="post">
  <label for="diskName">Disk name</label>
  <input id="diskName" name="diskName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/disk">Back to disk.</a></p>