@using MusicOrganizer.Models;

<h3>Here all the songs in this disk:</h3>

<ol>
  @foreach (Song song in @Model.Songs)
  {
    <li><a href="/disks/@Model.Id/songs/@song.Id">@song.Description</a></li>
  }
</ol>

<p>By @Model.Artist</p>

<p><a href="/disks/@Model.Id/songs/new">Add a new song</a></p>
<p><a href="/disks">Return to disk list</a></p>
<p><a href="/">Return to Main Page</a></p>